.relicta-col-4 {
    width: 33.33%;
    border: #1a202c 1px solid;
    position: relative;
    flex: auto;
}

.relicta-col-8 {
    width: 66.66%;
    border: #1a202c 1px solid;
    position: relative;
    flex: auto;
}

.relicta-file-5 {
    width: 20%;
    height: 100px;
}

.relicta-filemanager-head {
    width: 100%;
    height: auto;
    background: #4a5568;
    position: relative;
}

.relicta-container {
    width: 85%;
}

.relicta-folder-filesystem {
    flex: auto;
    width: 100%;

}

.relicta-folder-filesystem:hover {
    background: #cbd5e0;

}

.rel_filemanager_icon {
    width: 5vh;
    height: 5vh;
    margin-right: 10px;
}

.rel_delete {
    background-image: url('https://cdn-icons-png.flaticon.com/512/11471/11471542.png');
    background-size: contain;
    /* Ajusta el tamaño para que la imagen se ajuste dentro del contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita si su tamaño es menor que el contenedor */
    width: 5vh;
    /* Ancho del contenedor */
    height: 5vh;
    /* Altura del contenedor */
}
.rel_new_folder {
    background-image: url('https://cdn-icons-png.flaticon.com/512/11471/11471657.png');
    background-size: contain;
    /* Ajusta el tamaño para que la imagen se ajuste dentro del contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita si su tamaño es menor que el contenedor */
    width: 5vh;
    /* Ancho del contenedor */
    height: 5vh;
    /* Altura del contenedor */
}
.rel_file_info {
    background-image: url('https://cdn-icons-png.flaticon.com/512/11471/11471657.png');
    background-size: contain;
    /* Ajusta el tamaño para que la imagen se ajuste dentro del contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita si su tamaño es menor que el contenedor */
    width: 5vh;
    /* Ancho del contenedor */
    height: 5vh;
    /* Altura del contenedor */
}
.rel_download {
    background-image: url('https://cdn-icons-png.flaticon.com/512/11471/11471570.png');
    background-size: contain;
    /* Ajusta el tamaño para que la imagen se ajuste dentro del contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita si su tamaño es menor que el contenedor */
    width: 5vh;
    /* Ancho del contenedor */
    height: 5vh;
    /* Altura del contenedor */
}
.rel_folder {
    background-image: url('https://cdn-icons-png.flaticon.com/512/11471/11471397.png');
    background-size: contain;
    /* Ajusta el tamaño para que la imagen se ajuste dentro del contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita si su tamaño es menor que el contenedor */
    width: 5vh;
    /* Ancho del contenedor */
    height: 5vh;
    /* Altura del contenedor */
}

.rel_filemanager_icon:hover {
    background: #e2e8f0;
}
